<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger!</title>
	<link rel="stylesheet" href="css/burger_style.css">
</head>
<body>
    <img src="img/burger.png" alt="Cheeseburger with egg" width="100" height="100">
    {{{body}}}
 </body>
</html>