<h1>Eat-Da-Burger!</h1>

<h2>Uneaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        <br><button>Devour!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers</h2>
  
 <ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<div>
  <label>Add a burger to the menu</label><br>
  <input type="text">
  <button id="submit">Submit</button>
</div>

{{!-- Putting script here as it's easier to test --}}
<script>
  document.querySelectorAll("button").forEach(x =>{
    if(x.id !== "submit"){
      x.addEventListener("click",()=>{
        const burgerName = x.parentElement.innerText.slice(0,-x.innerText.length).trim();
        console.log(burgerName.length);
        fetch("/api/eat-burger",{
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({name: burgerName})
        });
      });
    }else{
      x.addEventListener("click",()=>{
        const burgerName = document.querySelector("input").value.trim();
        fetch("/api/add-burger",{
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({name: burgerName})
        });
      });
    }
  });
</script>