body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFDB58;
}

#menu {
    display: flex;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}